<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Read (all)</title>
</head>
<body>
    <div class='container'>
        <h1>All Shows</h1>
        <table class='table table-hover'>
            <thead>
                <tr>
                    <th scope='col'>ID</th>
                    <th scope='col'>Title</th>
                    <th scope='col'>Network</th>
                    <th scope='col'>Release Date</th>
                    <th scope='col'>Actions</th>
                </tr>
            </thead>
            {% for show in shows %}
            <tbody>
                <tr>
                    <td scope='row'>{{show.id}}</td>
                    <td scope='row'>{{show.title}}</td>
                    <td scope='row'>{{show.network}}</td>
                    <td scope='row'>{{show.release_date}}</td>
                    <td scope='row'>
                        <a href='/shows/{{show.id}}'>Show</a>
                        <a href='/shows/{{show.id}}/edit'>Edit</a>
                        <a href='/shows/{{show.id}}/destroy'>Delete</a>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        <a href='/shows/new'>Add a New Show</a>
    </div>
</body>
</html>